div.footer-wrapper
  footer.footer
    div.footer-left
      a.footer-logo(href="#")
        img(src="images/footer-logo.png", alt="")
      div.social
        div.social-title Мы в социальных сетях
        div.social-wrapper
          a.social-link.facebook(href="#")
          a.social-link.vk(href="#")
          a.social-link.instagram(href="#")
          a.social-link.youtube(href="#")
    div.footer-right
      nav.footer-menu
        div.footer-menu-column
          a.footer-menu-item(href="#") главная
          a.footer-menu-item(href="#") новости
        div.footer-menu-column
          a.footer-menu-item(href="#") о конкурсе
          a.footer-menu-item(href="#") о нас
        div.footer-menu-column
          a.footer-menu-item(href="#") архив  
          a.footer-menu-item(href="#") контакты  