header.header
  a.header-logo(href="#")
    img(src="images/header_logo.png", alt="header logo")
  div.header-content
    div.header-description
      p.header-description-indent.
        Международный детско-юношеский конкурс-фестиваль исполнителей песен на 
        иностранных языках «Музыкальный Континент»
      a.personal-office(href="#") Личный кабинет
        img.user(src="images/user.png", alt="user icon")
    nav.header-menu
      a.header-menu-item(href="#") главная
      a.header-menu-item(href="#") новости
      a.header-menu-item(href="#") о конкурсе
      a.header-menu-item(href="#") о нас
      a.header-menu-item(href="#") контакты        
    div.menu-toggle
      div.line
      div.line
      div.line
  nav.mobile-menu
    a.mobile-menu-link(href="#") главная
    a.mobile-menu-link(href="#") новости
    a.mobile-menu-link(href="#") о конкурсе
    a.mobile-menu-link(href="#") о нас
    a.mobile-menu-link(href="#") контакты
    a.mobile-menu-link(href="#") Личный кабинет