div.history-wrapper
  div.history
    h2.title.history-title Дорогие друзья!
    div.history-description-wrapper
      p.history-description.
        Наш праздник родился в марте 2010 года как маленькое музыкальное чудо с 
        громким названием «Французское Евровидение» в одной из московских школ. 
        Дети пели песни на французском языке. 
      p.history-description.
        Шумный, бурлящий активной жизнью, веселый праздник, где рады каждому! 
      p.history-description.
        В нем главное — это дети, участники праздника 
        и их творчество, творчество на иностранном языке. 
        Любознательные, наивные, открытые малыши и учащиеся начальных классов, 
        самостоятельные, талантливые, амбициозные, упорные старшеклассники.
    a(href="#").button.button-our-history НАША ИСТОРИЯ  
      