div.main
  div.social-bar
    a.social-bar-link.facebook-link(href="#")
    a.social-bar-link.vk-link(href="#")
    a.social-bar-link.instagram-link(href="#")
    a.social-bar-link.youtube-link(href="#")
  h2.main-subtittle Музыкальный континент
  h1.main-title JUNIORVISION 2019
  div.about-event
    iframe.about-event-video(src="https://www.youtube.com/embed/UiTLwTxaNbA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
    div.about-video
     h3.about-video-title Как проходил конкурс?
     p.about-video-description 
      |Смотрите наш ролик на 
      a.about-video-description-link(href="https://www.youtube.com/channel/UCFaQbWM6u86-kmuJM6mhOzw" target="_blank") Youtube 
      |Другие материалы доступны в нашем 
      a.about-video-description-link(href="#") архиве.
