div.news-wrapper
  div.news
    h2.title.title-news Наши новости
    div.news-item-wrapper
      div.news-item
       div.news-item-date 08.03.2018
       div.news-item-description
         a.news-title(href="#") Поздравляем победителей галаконцерта!
         div.news-description-wrapper
           p.news-description Красотину Василису
           p.news-description PETITE SOEUR
           p.news-description Школа 1532
           br
           p.news-description Табельскую Лизу и коллектив 7-8 класса РУТ МИИТ
         a.read-full Читать полностью…
      div.news-item
       div.news-item-date 02.03.2018
       div.news-item-description
         a.news-title(href="#") Победители Музыкальный континент 2018
         div.news-description-wrapper
           p.news-description Первая возрастная категория. ФРАНЦУЗЫ
           br
           p.news-description 1 место
           p.news-description Красотина Василиса
           p.news-description Школа 1532
           p.news-description La petite soeur
         a.read-full Читать полностью…       
    a(href="#").button ЧИТАТЬ ВСЕ НОВОСТИ   