.history-wrapper {
    width: 100%;
    background: url(../images/history-bg.jpg) no-repeat;
    background-position: center;
    background-color: #e7e980;
    margin: 0 auto;
}

.history {
    width: 100%;
    max-width: 533px;
    padding: 47px 10px 72px 10px;
    margin: 0 auto;
}

.history-title {
    text-align: left;
    position: relative;
    &::after {
        content: "";
        display: block;
        width: 324px;
        height: 9px;
        background: url(../images/shadow.png);
        background-repeat: no-repeat;
        position: absolute;
        bottom: -26px;
        left: 0;
    }
}

.history-description-wrapper {
    padding: 53px 0 34px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
}

.history-description {
    padding-bottom: 29px;
}

.button-our-history {
    color: #454545;
    background-color: #fff38b;
    &:hover {
        background-color: #f8e750;
        transition: .6s;
    }
}

@media (max-width: 660px) {
    .history {
        padding: 20px;
    }

    .history-description-wrapper {
        padding: 20px 0;
        font-size: 14px;
    }
}

@media (max-width: 520px) {
    .history-description-wrapper {
        font-size: 12px;
    }

    .history-title::after {
        display: none;
    }
}