.main {
    width: 100%;
    max-width: 1190px;
    padding: 25px 10px 90px 10px;
    margin: 0 auto;
    text-align: center;
}
//social bar start
.social-bar {
    position: fixed;
    top: 35%;
    right: 0;
    z-index: 9999;
}

.social-bar-link {
    display: block;
    width: 57px;
    height: 54px;
}

.facebook-link, .vk-link, .instagram-link, .youtube-link {
    background-image: url(../images/social.png);
    background-repeat: no-repeat;
    background-size: 300%;
}

.facebook-link {
    background-color: #7600a7;
    background-position-x: -12%;
    background-position-y: 47%;
    &:hover {
        background-color: darken(#7600a7, 15%);
        transition: .6s;
    }
}
.vk-link {
    background-color: #00a0f3;
    background-position-x: 30%;
    background-position-y: 54%;
    &:hover {
        background-color: darken(#00a0f3, 15%);
        transition: .6s;
    }
}
.instagram-link {
    background-color: #f08721;
    background-position-x: 73%;
    background-position-y: 50%;
    &:hover {
        background-color: darken(#f08721, 15%);
        transition: .6s;
    }
}
.youtube-link {
    background-color: #e80e0e;
    background-position-x: 112%;
    background-position-y: 40%;
    &:hover {
        background-color: darken(#e80e0e, 15%);
        transition: .6s;
    }
}
//social bar end

.main-subtittle {
    font-size: 28px;
    color: #1e44a3;
    background-image: url(../images/social.png);
    background-repeat: no-repeat;
    padding-bottom: 14px;
}

.main-title {
    text-transform: uppercase;
    font-size: 76px;
    font-weight: 700;
    background-image: linear-gradient(90deg, #265eb3 0%, #00601b 31%, #e71d69 46%, #fdc509 75%, #fd7c00 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.about-event {
    display: flex;
    padding: 53px 16px 0 16px;
}

.about-event-video {
    width: 100%;
    max-width: 683px;
    height: 396px;
}

.about-video {
    text-align: left;
    width: 100%;
    max-width: 419px;
    display: flex;
    flex-direction: column;
    padding: 104px 0 0 40px;
}

.about-video-title {
    font-size: 26px;
    font-weight: 700;
    padding-bottom: 13px;
}

.about-video-description {
    font-size: 20px;
    line-height: 1.2;
    font-weight: 500;
}

.about-video-description-link {
    font-size: 20px;
    font-weight: 500;
    font-style: italic;
    color: #00a0f3;
    text-decoration: underline;
    &:hover {
        text-decoration: none;
        transition: .6s;
    }

}

@media (max-width: 850px) {
    .main-subtittle {
        font-size: 20px;
    }
    .main-title {
        font-size: 50px;
    }

    .about-event-video {
        max-height: 320px;
    }

    .about-video {
        flex-shrink: 1.5;
    }

    .about-video-title {
        font-size: 20px;
    }

    .about-video-description, .about-video-description-link {
        font-size: 16px;
    }
}

@media (max-width: 600px) {
    .main {
        padding-bottom: 30px;
    }

    .main-subtittle {
        font-size: 16px;
    }
    .main-title {
        font-size: 30px;
    }

    .about-event {
        flex-wrap: wrap;
        padding-top: 30px;
    }

    .about-video {
        padding: 20px 0;
        margin: 0 auto;
    }
}

@media (max-width: 520px) {

    .main-subtittle {
        font-size: 14px;
    }

    .main-title {
        font-size: 24px;
    }

    .about-event-video {
        max-height: 220px;
    }

    .about-video-title {
        font-size: 16px;
    }

    .about-video-description, .about-video-description-link {
        font-size: 12px;
    }
}