.news-wrapper {
    width: 100%;
    background: url(../images/news-bg.jpg) no-repeat;
    background-position: center;
    margin: 0 auto;
    background-color: #2a8ed4;
}

.news {
    width: 100%;
    max-width: 1190px;
    padding: 47px 10px 45px 10px;
    margin: 0 auto;
    color: #fff;
}

.title {
    font-size: 48px;
    text-align: center;
    position: relative;
}

.shadow {
    position: absolute;
    bottom: -22px;
    left: 35%;
}

.news-item-wrapper {
    padding: 58px 0 10px 0;
}

.news-item {
    display: flex;
    padding: 0 0 60px 15px;
    &:last-child {
        padding-bottom: 15px;
    }
}

.news-item-description {
    padding-left: 31px;
}

.news-item-date, .news-title {
    font-size: 22px;
    font-weight: 700;
}

.news-title {
    color: #fff;
    text-decoration: underline;
    &:hover {
        text-decoration: none;
        transition: .6s;
    }
}

.news-description-wrapper {
    padding: 15px 0 25px 0;
}

.news-description {
    font-size: 16px;
    font-weight: 500;
    padding-bottom: 4px;
}

.read-full {
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    text-decoration: underline;
    cursor: pointer;
    &:hover {
        text-decoration: none;
        transition: .6s;
    }
}

.button {
    display: block;
    width: 367px;
    border-radius: 34px;
    background-color: #0ebeff;
    color: #fff;
    border: none;
    outline: none;
    text-transform: uppercase;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    padding: 24px 0;
    margin: 0 auto;
    cursor: pointer;
    &:hover {
        background-color: #6fd9ff;
        transition: .6s;
    }
}

@media (max-width: 660px) {
    .news {
        padding: 20px 10px;
    }

    .title {
        font-size: 38px;
    }

    .news-item-wrapper {
        padding-top: 20px;
    }

    .news-item {
        padding-bottom: 30px;
    }

    .news-item-date, .news-title {
        font-size: 18px;
    }
    
    .news-description {
        font-size: 14px;
    }

    .button {
        width: 267px;
        font-size: 14px;
        padding: 18px 0;
    }
}

@media (max-width: 480px) {
    .title {
        font-size: 28px;
    }

    .news-item-date, .news-title {
        font-size: 14px;
    }
    
    .news-item-description {
        padding-left: 22px;
    }
    
    .news-description {
        font-size: 12px;
    }

    .button {
        font-size: 12px;
    }
}